*{
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}


#logo{
   vertical-align: center;
}
.entities{
    font-size:50%;
}
ul{
    list-style-type:none;
}
h1{
    display: inline;
    vertical-align: center;
}
.container{
    margin-left: 100px;
    padding:50px;
    font-size:25px;
}
.nav{
 
}
#add-task{
    background-color: dodgerblue;
}