*{
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}


#logo{
   vertical-align: center;
}

h1{
    display: inline;
    vertical-align: center;
}
.container{
    margin-left: 100px;
    padding:50px;
}
.nav{
 
}
#add-task{
    background-color: dodgerblue;
}